/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(117, 8, 206, 0.055);
  overflow: hidden;
}
.page {
  background-color: rgb(170, 9, 9);
  position: relative;
  padding: auto;
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  left: 60em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3d0404;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3d0404;
  color: white;
}
.logo {
  position: relative;
  right: 350px;
}
.tetx {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -30%);
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 0, 0);
}
