body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(img-background.jpg.jfif);
  background-size: cover;
}
.sign-up-form {
  width: 300px;
  margin: 7% auto 0;
  text-align: center;
}
.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
  padding: 0;
  margin: 1px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0;
  width: 90%;
  border: 1px solid F6F6F6;
  background-color: #694fab5b;
}
button {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.signUP-btn {
  background-color: royalblue;

  background-color: #5ca1e1;
  border: none;
  color: rgb(243, 241, 241);
  text-align: center;
  font-size: 15px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
.twitter-btn {
  background-color: #5ca1e1;
}
a {
  text-decoration: none;
}
hr {
  margin: top 20px;
  width: 80%;
}
.or {
  background-color: EEEEEE;
  width: 30px;
  margin: -19px auto 10px;
}
img {
  width: 70px;
  margin-top: -20px;
}
.BACK-BTN {
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;

  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 30px;
}
