.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.background {
  background-color: rgb(255, 255, 255);
}
.input-box {
  position: absolute;
  top: 45%;
  left: 30%;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  width: 30em;
  border: 3px solid #999;
  outline: none;
}

.sign-btn {
  position: absolute;
  top: 47%;
  left: 60%;
  border-radius: 10px;
  padding: 17px;
  color: rgb(251, 251, 255);
  background-color: blue;
  border: 1px solid #999;
  width: 150px;
}

.top-button {
  position: absolute;
  top: 25px;
  right: 100px;
  border-radius: 10px;
  padding-left: 10px;
  color: rgb(251, 251, 255);
  background-color: blue;
  width: 150px;
  border: 1px solid #999;
  height: 30px;
}

.topic {
  height: 40px;
  padding: 0em;
}

.one {
  position: absolute;
  left: 15%;
}
.two {
  position: absolute;
  left: 45%;
}
.three {
  position: absolute;
  left: 75%;
}
.info1 {
  position: absolute;
  top: 37em;
  left: 15%;
}
.text1 {
  position: absolute;
  top: 58em;
  left: 15%;
  text-align: center;
}
.info2 {
  position: absolute;
  top: 37em;
  left: 44%;
}
.text2 {
  position: absolute;
  top: 58em;
  left: 43%;
  text-align: center;
}
.info3 {
  position: absolute;
  top: 37em;
  left: 78%;
}
.text3 {
  position: absolute;
  top: 58em;
  left: 75%;
  text-align: center;
}
